.helo {
    text-align: center;
    font-family: cursive;
}
.container {
    text-align: center;
}
.size1 {
    text-align: center;
}

.img-mountain{
    width: 500px;
}
.hello {
    text-align: center;
}